<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel = 'stylesheet' href = '/styles.css'/>
    <title>HTML</title>
</head>
<body>
    <form action = "/create" method = "POST">
        <label for = "title">Title</label>
        <input type = "text" id = "title" name = "title" required>
        <label for = "width">Width</label>
        <input type = "number" id = "width" name = "width" value = "500" required>
        <label for = "height">Height</label>
        <input type = "number" id = "height" name = "height" value = "500" required>
        <button type = "submit">Comment</button>
    </form>
    <!--
        title
        width
        height
    -->
</body>

</html>