<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/styles.css' />
    <title>Get Code</title>
</head>

<body class = "col">
    <div class="block">
        <h1>Copy the following code</h1>
        <textarea readonly> [![image](http://image-comments.sojs.dev/comments/{{ image.id }})](http://image-comments.sojs.dev/comment/{{ image.id}})</textarea>
        <h2>
            Where to put it
        </h2>
        <p>The code should be pasted in markdown-supported areas- eg: a README.md file, or in the replit project
            description.</p>
        <h2>Roadmap</h2>
        <p>In the future, the verified checkmark will work (only users with verified email will be able to comment when
            that checkmark is checked), users will be able to edit comments, reply, and edit their profiles.</p>
    </div>
</body>

</html>